.product-list {
  display: grid;
  margin: 0rem 8%;
  


}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* Varsayılan mobil görünüm için iki kart yan yana */
    margin: auto;

  }
}

@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr); /* Orta ekranlarda üç kart */
  }
}

@media (min-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr); /* Büyük ekranlarda beş kart */
  }
  
}
@media (min-width: 1600px) {
  .product-list {
    grid-template-columns: repeat(5, 1fr); /* Büyük ekranlarda beş kart */
  }
  
}



